{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block extra_css %}
  article img {margin-bottom: 30px}
{% endblock %}
{% block content %}
  <div class="large-12 columns" role="content">
  <article>
    <h3>Sean & Carly</h3>
    <div class="row">
      <div class="large-7 columns">
        <img src="/static/img/us2.jpg" />
      </div>
      <div class="large-5 columns">
        <p>Sean is a 23 year-old fellow from the desert town Ridgecrest, CA. He
        moved to San Francisco in 2009 to pursue his degree in Computer Science,
        which he finished in 2013. He enjoys programming, drinking beer, and
        watching Netflix. Sean's favorite beers are
        IPAs/DIPAs, stouts, porters, barrel-aged things, anything hoppy,
        and sours.</p>
        <p>Carly is from Rocklin, CA and has a degree in Biology
        with an emphasis in Physiology from San Francisco State University.
        She currently works as a Social Media
        Manager for NarrativeTrack in San Francisco. Carly enjoys watching
        baseball (Go Giants!!), movies,
        and drinking beer. Her favorites kinds of beer are IPAs/DIPAs,
        stouts/porters (especially if barrel-aged), and sours.</p>
      </div>
    </div>
  </article>
  </div>
{% endblock %}