<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>India Pale Whale | {% block title %}Home{% endblock %}</title>
  <link href='https://fonts.googleapis.com/css?family=Ewert' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/beer.css" />

  <style type="text/css">
    {% block extra_css %}{% endblock %}
  </style>
  <script src="/static/js/vendor/custom.modernizr.js"></script>

</head>
<body>
<nav class="top-bar">
  <div class="attached">
  <ul class="title-area">
    <!-- Title Area -->
    <!--<li class="name">
      <h1><a href="/">India Pale Whale </a></h1>
    </li>-->
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="/">Home</a></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Categories</a>

        <ul class="dropdown">
          {% for tag in categories %}
          <li><a href="#">{{ tag.display_name }}</a></li>
          {% endfor %}
        <!--
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Who brew?</a></li>
          <li><a href="#">Brewery Visits</a></li>
          <li><a href="#">Events</a></li>
          -->
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="/about/">About</a></li>

      <li class="divider"></li>
    </ul>
  </section>
  </div>
</nav>

  <section role="main" id="main">

  <header>
    <div class="row">
      <div class="twelve columns" id="header">
        <a class='sidebar-button show-for-small' id="sidebarButton" href="#sidebar" ><img src="images/offcanvas/menu-wht.png"><h4>India Pale Whale</h4></a>
        <span class="hide-for-small"><a href="/"><img src="/static/img/logo3.png" id="ipw" /><h1>India Pale Whale</h1></a></span>
        <!--<h4 class="hide-for-small">beer.</h4>-->
      </div>
    </div>
  </header>
 <div class="row" id="maincontent">

    {% block content %}{% endblock %}
   </div>
  <div id="footard">
    <div class="row">
      <div class="large-12 columns">
        <p>Copyright &copy; Sean Roth & Carly Menacho 2013</p>
        <p>Created with love in San Francisco, CA with <a href="http://djangoproject.com">Django</a>.
          This website runs on <a href="http://python.org">Python</a>, <a href="http://www.linuxfoundation.org/">Linux</a>,
          <a href="http://projects.unbit.it/uwsgi/">uwsgi</a>,
          <a href="http://postgres.org">Postgres</a>, and <a href="http://nginx.org">nginx</a>.</p>
        <p>Email us to get in touch! indiapalewhale at gmail dot com</p>
      </div>
    </div>
  </div>
  </section>
  <!-- body content here -->

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/static/js/vendor/zepto' : '/static/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="/static/js/foundation/foundation.js"></script>
  <script src="/static/js/foundation/foundation.alerts.js"></script>
  <script src="/static/js/foundation/foundation.clearing.js"></script>
  <script src="/static/js/foundation/foundation.cookie.js"></script>
  <script src="/static/js/foundation/foundation.dropdown.js"></script>
  <script src="/static/js/foundation/foundation.forms.js"></script>
  <script src="/static/js/foundation/foundation.joyride.js"></script>
  <script src="/static/js/foundation/foundation.magellan.js"></script>
  <script src="/static/js/foundation/foundation.orbit.js"></script>
  <script src="/static/js/foundation/foundation.placeholder.js"></script>
  <script src="/static/js/foundation/foundation.reveal.js"></script>
  <script src="/static/js/foundation/foundation.section.js"></script>
  <script src="/static/js/foundation/foundation.tooltips.js"></script>
  <script src="/static/js/foundation/foundation.topbar.js"></script>
  <script src="/static/js/foundation/foundation.interchange.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
