{% extends "base.html" %}
{% block extra_css %}
.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }
{% endblock %}
{% block content %}
<!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

      {% for post in posts %}
      <article>
        <h3><a href="#">{{ post }}</a></h3>
        <h6>Written by {{ post.author.first_name }} on {{ post.created|date:"F j, Y" }}.</h6>

        {{ post.body_html|safe }}
      </article>
      {% if not forloop.last %}
        <hr />
      {% endif %}
      {% endfor %}

    </div>
   <aside class="large-3 columns">

      <!--<h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Weasels</a></li>
      </ul>-->

      <div class="panel">
        <h5>We're on Instagram!</h5>
        <p>Hey, we already have tons of photos on Instagram!<br />Check us out:<br />
        <a href="http://instagram.com/indiapalewhale?ref=badge" class="ig-b- ig-b-24"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a> <a href="http://instagram.com/indiapalewhale">@indiapalewhale</a>
      </div>

    </aside>
{% endblock %}