@import "settings";
@import "normalize";
@import "foundation";

.panel a:hover {color:darken($primary-color, 5%)}
ul, ol {margin-left: 45px;}
header {background-color:rgb(41, 126, 77); padding:14px 0px; height: 260px }
header h1 {color:#000;}
header h4 {color:white;}
h1, h2, h3, h4, h5, h6 { font-family:  sans-serif, Arial; font-weight: 300; font-style: normal; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h4 {letter-spacing:-0.03em}
//h1, h2, h3, h4, h5 {  font-family: 'Joti One', cursive !important; font-weight: 300; }
body {border-top: 2px solid #31a158; background-color: #111;}
hr {border-color: #222}
#main {background: url(/static/img/bg.png);}
#maincontent {background:#141414; padding-left: 5px; padding-right:5px;}
#maincontent p {color:#EEE;  font-size: 1em;}
#maincontent h1, h2, h3 {color:#EEE;}
#maincontent h4, h5, h6 {color:#777;}
.panel {background-color:rgb(37, 37, 37); border: none;}
#maincontent .panel h5 {color: rgb(238, 238, 238);}
#maincontent .panel p {color: rgb(192, 192, 192);}
#footard {background-color: #252525; min-height:150px; color:#777;}
#ipw {position: relative; top:-65px; left:-60px; float:left; margin-bottom:-3em;}
#header h1 {color: black; font-family: 'Ewert', Helvetica, cursive !important; font-size:5.25em; }
//#maincontent h6, #maincontent p {font-family:sans;}
article {font-family: sans-serif; font-size: 0.18in;}
//article li {font-family: Georgia;}
img {margin-bottom: 1em;}
h6 {color:#7}
.small-left {
    width: 20em;
    float: left;
    margin-right: 1em;
}
