$primary-color: rgb(49, 161, 88);
$secondary-color: #e9e9e9;
$success-color: #5da423;
$topbar-margin-bottom: 0px;
$body-font-color:#fff;
$header-font-color:#000;
$anchor-font-color-hover: #7A2E28;
$body-bg: #111;